{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}        
    <h1 class="entry-title">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">PDF</a>{% endif %}
    {{ page.content }}
{% endblock %}
